@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  /* font colors */
  --fc-clr-headings: hsl(210, 10%, 33%);
  --fc-clr-paragraphs: hsl(201, 11%, 66%);
  --fc-clr-footer-links: hsl(210, 10%, 33%);
  /* background colors */
  --bg-clr-footer: hsl(201, 11%, 96%);
  /* button colors */
  --btn-text-crl: hsl(0, 0%, 100%);
  --btn-clr-primary: hsl(171, 66%, 44%);
  --btn-clr-primary-border: hsl(171, 66%, 40%);
  --btn-clr-secondary: hsl(233, 100%, 69%);
  --btn-clr-secondary-border: hsl(233, 100%, 65%);
  --btn-primary-hover: hsl(171, 66%, 60%);
  --btn-secondary-hover: hsl(233, 100%, 75%);
  /* links & icons */
  --link-clr-hover: hsl(171, 66%, 44%);
  /* font family */
  --ff-headings: "Bai Jamjuree", sans-serif;
  --ff-paragraphs: "Bai Jamjuree", sans-serif;
  /* font family */
  --fw-400: 400;
  --fw-600: 600;
}

body {
  font-family: var(--ff-paragraphs);
  color: var(--fc-clr-paragraphs);
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: var(--fw-400);
}

/* general styling */
.img {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
  text-align: center;
}

.content-center-sections {
  max-width: 42rem;
  margin: 0 auto;
}

/* headings/paragraphs */
.heading-primary {
  color: var(--fc-clr-headings);
  font-size: clamp(2rem, 1.5vw + 1rem, 2.2rem);
}

.heading-secondary {
  color: var(--fc-clr-headings);
  font-size: clamp(1.2rem, 1.2vw + 1rem, 1.8rem);
}

.heading-tertiary {
  color: var(--fc-clr-headings);
  font-size: clamp(1.1rem, 1vw + 1rem, 1.4rem);
}

.heading-margin-bottom {
  margin-bottom: 0.5em;
}

/* padding */
.padding-top-big {
  padding-top: clamp(2rem, 15%, 6rem);
}

.margin-bottom-big {
  margin-bottom: clamp(4rem, 15%, 6rem);
}

.margin-bottom-medium {
  margin-bottom: clamp(2rem, 15%, 4rem);
}

/* buttons */
.btn-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  padding: 0.9em 2em;
  border-radius: 3rem;
  border: 0;
  border-bottom: 0.25rem solid transparent;
  color: var(--btn-text-crl);
}

.btn--primary {
  background-color: var(--btn-clr-primary);
  border-bottom-color: var(--btn-clr-primary-border);
}

.btn--primary:hover,
.btn--primary:focus-visible {
  background-color: var(--btn-primary-hover);
}

.btn--secondary {
  background-color: var(--btn-clr-secondary);
  border-bottom-color: var(--btn-clr-secondary-border);
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  background-color: var(--btn-secondary-hover);
}

/* grids */
.grid-two-columns {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
}

.grid-three-columns-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
}

.grid-five-columns-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  gap: 2rem;
}

/* header */
.header {
  background-image: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

@media (max-width: 50em) {
  .header {
    background-image: url(/images/bg-header-mobile.png);
  }
}

.header__logo {
  width: 5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.header__paragraph-wrapper {
  max-width: 37rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* section one */
.main__feature-img {
  position: relative;
  left: -7rem;
}

.main__feature-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: center;
  gap: 2rem;
}

.content-feature-wrapper {
  max-width: 23rem;
  text-align: left;
}

@media (max-width: 50em) {
  .grid-two-columns {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: clamp(2rem, 15%, 4rem);
  }

  .main__feature-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
    justify-items: center;
  }

  .content-feature-wrapper {
    text-align: center;
  }

  .main__feature-img {
    position: static;
    width: 90%;
    margin: 0 auto;
  }
}

/* section two */
.main__section-two-img {
  margin: 0 auto;
}

/* section three */
.main__section-three-features-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__section-three-img {
  margin-bottom: 1.5rem;
}

/* footer */
footer {
  background-color: var(--bg-clr-footer);
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  padding: 2.5rem 0;
}

.footer__img {
  width: 3rem;
}

.footer__list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  text-align: left;
}

.footer__list-item {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  color: var(--fc-clr-footer-links);
}

.footer__link:hover,
.footer__link:focus-visible {
  color: var(--link-clr-hover);
}

.footer__icons-wrapper {
  display: flex;
  gap: 1rem;
  justify-self: end;
}

.footer__icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 60em) {
  .footer__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 2rem;
  }

  .footer__icons-wrapper {
    justify-self: auto;
  }
}

@media (max-width: 30em) {
  .footer__list-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
  }
}
